.ic.new
  = simple_form_for @ic do |f|
    = f.input :title
    = f.input :place_height, input_html: { value: 20 }
    = f.input :place_width, input_html: { value: 24 }
    %div
      %button{ type: 'button', class: 'set_place_size' }= 'Применить размер'

    %button{ type: 'button', class: 'image_upload_button_net' }= 'Выбрать изображение'
    .display_none
      = f.input :image, input_html: { class: 'js-image_upload_net' }
    .preview_net
      = image_tag @ic.image.url, class: 'image_upload_preview_net'
      %canvas{ height: 0, width: 0, class: 'js-canvas_net'}


    = f.button :submit
