.place.new
  = simple_form_for [@ic, @place] do |f|
    = f.input :x, as: :hidden
    = f.input :y, as: :hidden
    = f.input :crop_x, as: :hidden
    = f.input :crop_y, as: :hidden
    = f.input :crop_height, as: :hidden
    = f.input :crop_width, as: :hidden
    = f.input :pre_width, as: :hidden
    = f.input :pre_height, as: :hidden
    = f.input :r_component, as: :hidden
    = f.input :g_component, as: :hidden
    = f.input :b_component, as: :hidden
    .display_none
      = f.input :image, input_html: { :class => 'js-image_input' }

    %table
      %tr
        %td.t1
          .js-image_wrapper
            = image_tag @place.image.url, class: 'js-image_preview', data: { ratioW: @ic.place_width, ratioH: @ic.place_height }

            %svg{ class: 'filterPlace', :height => '0', :width => '0' }
              %defs
                %filter{ id: 'fp1' }
                  %feComponentTransfer
                    %feFuncR{ class: 'filter_r', type: 'linear', slope: '1' }
                    %feFuncG{ class: 'filter_g', type: 'linear', slope: '1' }
                    %feFuncB{ class: 'filter_b', type: 'linear', slope: '1' }
                    %feFuncA{ type: 'identity' }
              %image{ :height => '100%', :width => '100%', 'xlink:href' => '', class: 'svg_place_image', filter: 'url(#fp1)' }
          %button{ :type => 'button', :class => 'js-image_upload_button btn btn-default' }= 'Выбрать изображение'


        %td.t2
          .mini_colors_wrapper
            = render partial: 'mini_previews'
            .mini_colors_input

          .actions
            = f.input :comment, as: :text, label: false, placeholder: 'Некий текст (60 символов)', :input_html => {:maxlength => 60, rows: 4, :size => 60, class: 'form-control' }
            = f.input :link,    label: false, placeholder: 'Ссылка', :input_html => { class: 'form-control' }
            = f.button :submit, class: 'btn-success'
